@media screen and (max-width: 480px) {
    .canvas{
        width : 95vw;
        height : 95vw;
    }
    body{
        padding-top : 180px;
        background-color: lightsalmon;
    }

    .challenge__banner .challenge__Btn,
    .challenge__banner .challenge__info{
        background-color : #F1F1F1;
        border : 2.5px solid #b3adadd3;
    }

    .challenge__banner .challenge__info{
        top : 45px;
        height : 110px;
        width : 270px;
        font-size : 13px;
    }

    .challenge__info .info__option-bar{
        bottom : 5px;
    }

    .info__option-bar button{
        width : 60px;
        height : 23px;
    }

    .challenge__info select{
        width : 80px;
        height : 20px;
    }


    .challenge--ing{
        top : 20px;
        right : 10px;
        align-self: center;
    }

    .logo{
        display : block;
        position : absolute;
        top : 30px;
        left : 20px;
        z-index : -1;
    }

    .logo{
        display : block;
        position : absolute;
        top : 30px;
        left : 20px;
    }

    .challenge--ing .challenge__word{
        height : 50px;
    }

    .challenge__word .keyword{
        padding-right : 5px;
    }


    .challenge--ing .timestamp{
        font-size : 19px;
        padding-left : 70px;
    }

    .challenge--ing .btns{
        margin : 5px;
        padding-right : 20px;
    }

    .challenge--ing .btns button{
        width : 60px;
        height : 25px;
    }

    .challenge--ing .challenge__result{
        padding-left : 55px;
    }

    .challenge__result select{
        margin-left : 10px;
    }

    .controls__colors{
        width : 260px;
        height : 110px;
        display : flex;
        justify-content: space-between;
        flex-flow : wrap;
    }

    button#challenge__quit-mobile{
        display : block;
        background-color: #F75C53;
    }

}